@import './../../../../assets/scss/color';

.alert-md-local {
	background: {
		color: $alert-md-local-background-color;
	}
	border: {
		color: $alert-md-local-border-color;
	}
	color: $alert-md-local-color;
}
